body {
    font-family: Arial, sans-serif;
    background-color: #e8d7c3;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    color: #4a2614;
}

#balance-container {
    background-color: #4f3728; /* change this to lighter coffee color later. */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    width: 250px;
    margin: 10px;
    color: #e8d7c3;
}

#balance {
    font-size: 2rem;
    font-weight: bold;
    color: #d8c3a5;
    margin-bottom: 15px;
}

/* input box styling here. may need to change to fit theme after i change other colors. */

input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #cfa97c;
    font-size: 1rem;
    background-color: #e8d7c3;
    color: #4a2614;
}