* {
    box-sizing: border-box;
}

#main-nav {
     display: flex;
     justify-content: center;
     flex-direction: row;
     gap: 10px;
     margin-bottom: 20px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e8d7c3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    color: #4a2614;
}

/* containers for each are going to be styled below: */

#dashboard-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    width: 100%
}

#balance-container {
    background-color: #8b6f5f; /* change this to lighter coffee color later. */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    width: 400px;
    margin: 10px;
    color: #cfa97c;
}

#balance {
    font-size: 2rem;
    font-weight: bold;
    color: #cfa97c;
    margin-bottom: 15px;
}

#investments-container {
    background-color: #a07c65;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    width: 500;
    height: 180;
    color: #e8d7c3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#spending-container {
    background-color: #8b6f5f;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    width: 400px;
    height: 250px;
    color:#e8d7c3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#savings-container {
    width: 350px;
    background-color: #cfa97c;
}
/* input box styling here. may need to change to fit theme after i change other colors. */

input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #cfa97c;
    font-size: 1rem;
    background-color: #e8d7c3;
    color: #4a2614;
}

/*this is for the buttons. */

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    background-color: #4a2614;
    color: #e8d7c3;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.1 ease;
}

button:hover {
    background-color: #6b3a22;
}

button:active {
    transform: scale(0.97);
}

